body {
  display: flex;
  justify-content: center;
  margin: 0;
}

body div#field {
  width: 80%;
  height: 20vw;
  background: lightgreen;
  position: absolute;
}

body div#field div#pot {
  background: green;
  border-radius: 4vw;
  width: 8vw;
  height: 8vw;
  position: relative;
  opacity: 0.04;
}

body #alert {
  color: white;
  margin: 5vw;
}
